/* Show it is fixed to the top */
body {
	
}

#main {
	margin-top: 50px;
	margin-bottom: 50px;
}

@media (max-width: 576px) {
	nav .container {
		width: 100%;
	}
}

#sidebar ul {
	list-style-type: none;
	padding: 10px;
	background-color: #f7f7f7;
	list-style-position: outside;
}

#sidebar #navrow1:before {
	content: "Contents:";
	font-weight: 500;
	padding-left: 1rem;
}

#sidebar .tabs3 ul > li {
	display: inline-block;
}

#sidebar .navpath:before {
	content: "Hierarchy:";
	font-weight: 500;
	padding-left: 1rem;
}

#sidebar .navpath ul > li:before {
	content: "\25B8";
}

.image img {
	max-width: 100%;
}

.headertitle > .title {
	font-size: 2.5rem;
	margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
	margin-top: 0;
	margin: 0.67em 0;
}

.ingroups {
	font-size: 1.0rem;
}

code {
	white-space: nowrap;
}

.fragment {
	background-color: rgb(248, 248, 248);
	margin-bottom: 15px;
    margin-top: 15px;
    padding: 8px 1em 6px;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 3px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
	font-size: 0.9em;
	display: block;
    break-inside: avoid;
    text-align: left;
    overflow-x: auto;
    white-space: pre;
    position: relative !important;
	word-break: normal;
    word-wrap: break-word;
}

.memitem {
	margin-bottom: 0.5rem;
	padding-top: 0.5rem;
	border-top: 1px solid #eceeef;
}

.memproto {
	background-color: rgb(248, 248, 248);
	padding: 8px 1em 6px;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 3px;
	overflow-x: auto;
	white-space: nowrap;
}

.memtemplate,
.memname td {
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	font-size: 0.9em;
	white-space: nowrap;
}

.memitem td.paramname {
	font-style: italic;
	padding-right: 1rem;
}

table.mlabels {
	display: block;
    width: 100%;
}

table.mlabels tbody {
	display: block;
	width: 100%;
}

table.mlabels td.mlabels-right {
	width: 99%;
	text-align: right;
}

table.mlabels td.mlabels-right > span > span {
	padding: .1rem .2rem;
    margin-left: .2rem;
	color: #fff !important;
	background-color: #0275d8 !important;
	/*font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;*/
}

.doxtable,
.memberdecls,
.directory {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.doxtable th,
.doxtable td,
.memberdecls th,
.memberdecls td,
.directory th,
.directory td {
  padding: 0.75rem;
  vertical-align: top;
  /*border-top: 1px solid #eceeef;*/
}

.doxtable th,
.doxtable td,
.directory th,
.directory td {
  border-top: 1px solid #eceeef;
}

.doxtable thead th,
.doxtable thead th,
.memberdecls thead th,
.directory thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
}

.doxtable tbody + tbody,
.memberdecls tbody + tbody,
.directory tbody + tbody {
  border-top: 2px solid #eceeef;
}

.doxtable tbody tr:hover,
.memberdecls tbody tr:hover,
.directory tbody tr:hover {
  /*background-color: rgba(0, 0, 0, 0.075);*/
}

td.mdescLeft,
td.mdescRight {
	padding-top: 0;
}

td.memTemplParams {
	padding-bottom: 0;
}

td.memItemLeft {
	white-space: nowrap;
}

td.memItemRight {
	width: 99%;
}

.memberdecls tr[class^='separator'] {
	background-color: #eceeef;
	height: 1px !important;
	line-height: 1px !important;
}

.memberdecls tr[class^='separator'] td {
	/*display: none !important;*/
	height: 0 !important;
	line-height: 0 !important;
	padding: 0;
	margin: 0;
}

td.entry span {
	display: none !important;
}

.fragment .line {
	min-height: 1em;
}

.fragment .comment {
	color: #999988;
}

.fragment .keywordflow {
	color: #a71d5d;
}

.fragment .keywordtype {
	color: #63a35c;
}

.fragment .preprocessor {
	color: #a71d5d;
}

.fragment .keyword {
	color: #a71d5d;
}

.fragment a {
	text-decoration: underline;
}

.fragment .stringliteral {
	color: #183691;
}

.icona {
	color: #fff;
    background-color: #0275d8;
	border: 1px solid #0275d8;
	vertical-align: middle;
    padding: 0rem 0.2rem;
	margin-right: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}