.mdl-mega-footer--bottom-section.mdl-grid,
.mdl-mega-footer--middle-section.mdl-grid {
	max-width: 1100px;
	padding: 15px;
}

.page-content.mdl-grid {
	max-width: 1100px;
	padding: 15px;
}

.content-padding {
	padding-top: 40px;
	padding-bottom: 40px;
}

.mdl-layout__content {
	background-color: rgb(66,66,66);
}

.mdl-layout__header-row {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
}

.header,
.contents,
.footer {
	width: 100%;
}

.mdl-navigation__link {
	color: rgb(117,117,117) !important;
}

.mdl-layout__drawer-button {
	color: rgb(117,117,117) !important;
}

code {
	display: inline-block;
    background-color: rgba(0,0,0,.06);
    border-radius: 3px;
    white-space: pre-wrap;
	font-size: 85%;
	padding-left: 5px;
	padding-right: 5px;
}

.fragment {
	color: #000;
    text-shadow: 0 1px #fff;
    font-family: Consolas,Monaco,'Andale Mono',monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
	padding: 1em;
    margin: .5em 0;
    overflow: auto;
    font-size: 87%;
    background-color: rgba(0,0,0,.06);
    border-radius: 3px;
    white-space: pre-wrap;
	overflow-x: visible;
	overflow-y: auto;
	white-space: pre;
	/*max-height: 800px;*/
}

.ingroups {
	font-size: 18px;
}

.headertitle {
	font-size: 45px;
}

.fragment .keyword {
	color: #E91E63;
}

.fragment .keywordtype {
	color: #9D1DB3;
}

.fragment .stringliteral {
	color: #E57316;
}

.fragment .keywordflow {
	color: #4937D3;
}

.fragment a {
	text-decoration: underline;
}

.fragment .comment {
	color: #5F9B6B;
}

tt, code, kbd, samp {
    font-family: monospace;
}

.textblock img {
	margin-bottom: 10px;
}

blockquote.doxtable:after,
blockquote.doxtable:before {
	content: "";
}

table.doxtable {
	max-width: 100%;
	/*display: block;*/
}

table.memberdecls,
table.directory {
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	display: block;
	margin: 20px 0;
}

table.memberdecls tbody {
	min-width: 100%;
	width: auto;
	display: block;
}

table.doxtable tbody th,
table.doxtable tbody td {
	text-align: left;
}

table.memberdecls tbody tr {
	min-width: 100%;
	width: auto;
	display: block;
}

table.memberdecls tbody tr.heading h2 {
	font-size: 28px;
}

table.memberdecls tbody tr.heading td {
	min-width: 100%;
	display: block;
}

table.memberdecls tr.heading {
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

table.memberdecls .groupheader {
	border: none;
	padding: 0;
	margin: 0;
}

.directory .levels {
	text-align: right;
	font-size: 18px;
	margin: 10px 0;
}

.summary > a,
.directory .levels > span {
	margin: 5px 10px;
	width: auto;
	min-width: 24px;
	padding: 0 5px;
	font-weight: 700;
}

table.doxtable tbody tr,
table.directory tbody tr,
table.memberdecls tbody tr {
	min-height: 0px;
	height: auto;
	text-align: left;
}

table.doxtable tbody td,
table.directory tbody td,
table.memberdecls tbody td {
	min-height: 0px;
	height: auto;
	text-align: left;
}

table.doxtable tbody td {
	white-space: pre-wrap;
}

table.memberdecls tr.inherit_header td {
	min-width: 100%;
	display: block;
}

table.memberdecls td.memTemplParams {
	min-width: 100%;
	display: block;
	border-bottom: none;
	padding-bottom: 0;
}

table.memberdecls td.memTemplItemLeft,
table.memberdecls td.memTemplItemRight {
	padding-top: 0;
}

table.memberdecls td.mdescLeft,
table.memberdecls td.mdescRight {
	padding-top: 0;
}

table.memberdecls td {
	border: none;
}

table.memberdecls td.memItemLeft,
table.memberdecls td.memTemplItemLeft,
table.directory td.entry {
	width: 1%;
	white-space:nowrap;
	padding-right: 5px;
}

table.memberdecls td.memItemRight,
table.memberdecls td.memTemplItemRight,
table.directory td.desc {
	min-width: 99%;
	padding-left: 5px;
}

table.directory tbody td {
	/*padding: 10px;*/
}

table.directory tbody tr[class^='separator'],
table.memberdecls tbody tr[class^='separator'] {
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	display: block !important;
	min-width: 100%;
	/*height: 1px;*/
}

table.directory tbody tr[class^='separator'] td,
table.memberdecls tbody tr[class^='separator'] td {
	display: none;
}

.memtitle {
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 0;
	padding: 10px 5px;
	border: 1px solid #DDD;
	border-bottom: none;
}

.memproto {
	background-color: #EEE;
	padding: 5px;
}

.memitem {
	border: 1px solid #DDD;
	border-top: none;
}

.memdoc {
	padding: 5px;
}

table.mlabels {
	display: block;
	width: 100%;
}

table.mlabels {
	position: relative;
}

table.mlabels td.mlabels-right {
	text-align: right;
	margin-top: 10px;
	position: absolute;
	z-index: 99;
	right: 0px;
	margin-top: 0px;
}

.mlabel {
	font-size: 10pt;
	vertical-align: top;
	color: #FFF;
	background-color: #2196f3;
	padding: 2px;
	margin-left: 5px;
	border-radius: 2px;
}

.navpath {
	/*background: rgba(158,158,158, 0.20);*/
	padding: 5px;
	display: block;
	border-radius: 2px;
}

.navpath ul {
	padding: 0;
	margin: 0;
}

.navpath ul li {
	display: inline-block;
	font-weight: 700;
	/*padding: 10px;*/
	margin-left: 10px;
	font-size: 18px;
}

.navpath ul li:not(:first-child):before {
	content: "> ";
}

.mdl-layout__drawer-button > i {
	visibility: hidden;
}

.mdl-layout__drawer-button > i:after {
	visibility: visible;
}

.mdl-layout__drawer-button {
	background-image: url("ic_menu.png");
	width: 48px;
	height: 48px;
}

